:root {
  --primary-text-color:#212121;
  --title-text-color:#757575;
  --accent-color:#2196F3;
  --primary-white-color:#FFFFFF;
}

body {
  background-color: #E5E5E5;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0,03em;
}

.list {
  list-style: none;
}

/* logo */

.logo-accent {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1,19;
  text-decoration: none;
}

.logo-accent:hover,
.logo-accent:focus {
  color: var(--accent-color);
}

.logo-primary {
  color: var(--primary-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1,19;
  text-decoration: none;
}

.logo-primary:hover,
.logo-primary:focus {
  color: var(--accent-color);
}

/* Site-nav */
.site-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 26px;
  line-height: 1,14;
  text-decoration: none;
}

.site-nav .link:hover, .link:focus {
  color: var(--accent-color);
}

.auth-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 26px;
  line-height: 1,14;
  text-decoration: none;
}

.auth-nav .link:hover, .link:focus {
  color: var(--accent-color);
}

/* HERO */
.hero-title {
  background: #2F303A;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1,36;
  text-align: center;
}

/* Section */
.section-title {
  color: var(--primary-text-color);
}

.section-title p {
color: var(--title-text-color);
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1,87;
  text-align: center;
  cursor: pointer;
}

/* Features */
.heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1,14;
}

.subtitle {
  font-size: 14px;
  line-height: 1,71;
}

/* Род деятельности */
.heading-line {
  font-weight: 700;
  font-size: 36px;
  line-height: 1,16;
  text-align: center;
}

/* Наши сотрудники */
.caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1,18;
}

.caption-line {
  font-size: 16px;
  line-height: 1,18;
}


/* подвал */
.footer-page {
  background-color:#2F303A;
}

.logo-primary-white {
  color: var(--primary-white-color);
  text-decoration: none;
}

.logo-primary-white:hover,
.logo-primary-white:focus {
  color: var(--accent-color);
}

.footer-page .subtitle:hover,
.subtitle:focus {
  color: var(--accent-color);
}

.subtitle {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1,71;
  text-decoration: none;
}

.footer-page .title:hover, .title:focus {
  color: var(--accent-color);
}

.title {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1,71;
  text-decoration: none;
}
